/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

:root {
    --nav-color: #212832;
    --orange-col: #DF6951;
    --para-col: #5E6282;
    --white-col: #fff;
    --lg-headCol: #14183E;
}


/* navbar */

.jadoo-navbar .nav-item .nav-link {
    font-size: 17px;
    line-height: 24px;
    color: var(--nav-color);
    padding: 7px 25px;
}

.jadoo-navbar .signup-btn {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 6px;
}

.jadoo-navbar .nav-item .lang-drp-down {
    padding-right: 0px;
}

.navbar-toggler {
    background-image: url('../images/hamburger.png');
    width: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    outline: none;
    box-shadow: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* hero section */

.hero-section {
    background-image: url('../images/hero/Decore.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-position: top right;
    position: relative;
    overflow: hidden;
}

.hero-bg-shade {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.hero-right {
    position: relative;
}

.hero-right .traveller {
    z-index: 3;
    position: relative;
}

.hero-right .plane-left {
    position: absolute;
    left: 0;
    top: 0;
}

.hero-right .plane-right {
    position: absolute;
    right: 0px;
    top: 70px;
    z-index: 1;
    width: 120px;
}


.hero-section .hero-content-section {
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-content-section .sm-head {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: var(--orange-col);
    margin-bottom: 20px;
}

.hero-content-section .lg-head {
    font-family: 'Volkhov', serif;
    font-size: 70px;
    line-height: 78px;
    font-weight: 700;
    color: #181E4B;
    margin-bottom: 30px;
}

.hero-content-section .lg-head .enjoy {
    position: relative;
}

.hero-content-section .lg-head .enjoy::before {
    content: '';
    background-image: url('../images/hero/enjoy-bottom-decor.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 74px;
    left: -10px;
    width: 300px;
    height: 100px;
    z-index: -1;
}

.hero-content-section .sm-desc {
    font-size: 16px;
    line-height: 24px;
    color: var(--para-col);
    margin-bottom: 30px;
}

.hero-content-section .hero-btns {
    display: flex;
}

.hero-content-section .find-out-btn {
    color: var(--white-col);
    padding: 12px 15px;
    border-radius: 10px;
    background: #F1A501;
    cursor: pointer;
}

.hero-content-section .find-out-btn:hover {
    background-color: #DF6951;
}

.hero-content-section .play-demo-btn {
    font-size: 17px;
    line-height: 24px;
    color: #686D77;
    margin-left: 20px;

}

.hero-content-section .play-demo-btn i {
    background-color: #DF6951;
    color: var(--white-col);
    border-radius: 50%;
    padding: 15px 18px;
    font-size: 18px;
    margin-right: 10px;
}


/* service section */
.service-section {
    padding: 100px 10px;
    position: relative;
    overflow: hidden;
}

.service-bg-shape {
    position: absolute;
    right: 50px;
    top: 100px;
}

.jadoo-sm-head {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: var(--para-col);
    text-align: center;
    margin-bottom: 10px;
}

.jadoo-lg-head {
    font-size: 50px;
    line-height: 58px;
    font-weight: 700;
    font-family: 'Volkhov', serif;
    color: var(--lg-headCol);
    text-align: center;
}

.service-cards-box {
    margin-top: 50px;
}

.service-section .service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: var(--white-col);
    position: relative;
    transition: all .3s ease-in-out;
}

.service-section .service-card::after {
    content: '';
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 10px;
    height: 10px;
    background-color: #DF6951;
    border-radius: 30px 0px 10px 0px;
    z-index: -1;
    transition: all .5s ease-in-out;
}

.service-section .service-card:hover {
    border-radius: 36px;
    box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.service-section .service-card:hover::after {
    bottom: -35px;
    left: -40px;
    width: 100px;
    height: 100px;
}

.service-card img {
    margin-bottom: 25px;
    height: 50px;
}

.service-card .head {
    font-size: 20px;
    line-height: 28px;
    color: #1E1D4C;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.service-card .desc {
    font-size: 16px;
    line-height: 24px;
    color: var(--para-col);
    text-align: center;
}

/* destination section */
.destination-section {
    padding: 0px 10px 100px;
    overflow: hidden;
}

.destination-section .container {
    position: relative;
}

.destination-section .container .destination-decore {
    position: absolute;
    right: -50px;
    bottom: 10px;
}

.destination-section .destination-card-box {
    margin-top: 60px;
}

.destination-section .destination-card {
    height: 500px;
    width: 100%;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.destination-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease-in-out;
}

.destination-section .destination-card:hover img {
    transform: scale(1.08);
}

.destination-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 15px 30px;
    background-color: var(--white-col);
}

.destination-details .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.destination-details .top .place,
.price {
    font-size: 18px;
    line-height: 26px;
    color: var(--para-col);
}

.destination-details .duration {
    font-size: 16px;
    color: var(--para-col);
}

/* steps section */
.steps-section {
    padding: 40px 10px 100px;
    overflow: hidden;
}

.steps-section .jadoo-lg-head {
    text-align: left;
}

.steps-section .jadoo-sm-head {
    text-align: left;
}

.steps-section .steps {
    display: flex;
    align-items: flex-start;
    margin: 20px 0px;
    padding-right: 13%;
}

.steps-section .steps img {
    margin-right: 20px;
}

.steps-section .steps h6 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--para-col);
    margin-bottom: 7px;
}

.steps-section .steps p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--para-col);
}

.steps-left {
    padding: 50px;
    position: relative;
}

.bg-blue {
    position: absolute;
    top: -120px;
}

.trips-card {
    position: relative;
    border-radius: 26px;
    background: var(--white-col);
    padding: 20px 24px 30px;
    width: 360px;
    box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.trips-card img {
    width: 100%;
    object-fit: cover;
}

.trips-card h6 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #080809;
    margin: 20px 0 10px;
}

.trips-card .trip-dtls {
    font-size: 16px;
    line-height: 24px;
    color: #84829A;
    margin-bottom: 20px;
}

.trips-card .trip-btns {
    display: flex;
}

.trip-btns a {
    padding: 10px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    transition: .3s ease-in;
}

.trip-btns a :hover path {
    fill: #8A79DF;
}

.trips-card .trip-going {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

}

.trips-card .trip-going .number {
    display: flex;
}

.trips-card .trip-going .number svg {
    margin-right: 15px;
}

.trips-card .trip-going .number p {
    font-size: 16px;
    line-height: 24px;
    color: #84829A;
}

.ongoing-trip {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 18px;
    background: var(--white-col);
    box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
    position: absolute;
    bottom: 70px;
    right: -90px;
}

.ongoing-trip img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ongoing-trip .ongoing-dtls {
    margin-left: 10px;
}

.ongoing-trip .ongoing-dtls span {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #84829A;
}

.ongoing-trip .ongoing-dtls p {
    font-size: 18px;
    line-height: 26px;
    color: #080809;
}

.ongoing-trip .ongoing-dtls .progress-dtls {
    font-size: 14px;
    line-height: 22px;
    color: #080809;
    margin-top: 10px;
}

.ongoing-trip .ongoing-dtls .progress-dtls span {
    font-size: 14px;
    line-height: 22px;
    color: #8A79DF;
}

.ongoing-trip .ongoing-dtls .progress-dtls .progress {
    height: 5px;
    width: 140px;
    background-color: #F5F5F5;
    margin-top: 10px;
}

.ongoing-trip .ongoing-dtls .progress-dtls .progress .progress-bar {
    background-color: #8A79DF;
}

.move-y {
    animation: move-y 1.5s alternate infinite;
    -webkit-animation: move-y 1.5s alternate infinite;
}

@keyframes move-y {
    0% {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, 10px, 0);
        -webkit-transform: translate3d(0, 10px, 0);
    }
}

/* client slider */
.client-section {
    padding: 0 10px;
    overflow: hidden;
}

.client-slider .client-logo {
    padding: 25px;
    border-radius: 10px;
    height: 80px;
    background: var(--white-col);
    transition: .3s ease-out;
    margin: 30px 10px;
}

.client-slider .client-logo img {
    filter: grayscale(1);
    transition: .3s ease-out;
}

.client-slider .client-logo:hover {
    box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.client-slider .client-logo:hover img {
    filter: grayscale(0);
}

/* newsletter section */
.newsletter-section {
    padding: 100px 10px;
    position: relative;
    overflow: hidden;
}

.newsletter-shape {
    position: absolute;
    bottom: 30px;
    right: 40px;
    rotate: 90deg;
    z-index: -1;
}

.newsletter-section .newsletter-box {
    position: relative;
    background-color: #dfd7f944;
    padding: 80px 100px;
    border-radius: 130px 20px 20px 20px;
    z-index: 11;
}

.newsletter-box .left-circle {
    position: absolute;
    left: 10px;
    bottom: 0px;
    opacity: .1;
    z-index: -1;
}

.newsletter-box .right-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: .1;
    z-index: -1;
}

.newsletter-box .share-icon {
    position: absolute;
    top: -20px;
    right: -20px;
    transition: .2s ease-in;
}

.newsletter-box .share-icon:hover {
    transform: scale(1.1);
}

.newsletter-section .newsletter-box h4 {
    font-size: 33px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
    color: var(--para-col);
    margin-bottom: 70px;
}

.subcribe-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcribe-box .input-box {
    background-color: var(--white-col);
    border-radius: 10px;
    padding: 15px 25px;
}

.subcribe-box .input-box input {
    border-style: none;
    outline: none;
    padding-left: 15px;
    min-width: 260px;
}

.subcribe-box .subscribe-btn {
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    color: var(--white-col);
    background: var(--gradient, linear-gradient(180deg, #FF946D 0%, #FF7D68 100%));
    padding: 15px 30px;
    margin-left: 15px;
}

.subcribe-box .subscribe-btn:hover {
    background: var(--gradient, linear-gradient(180deg, #dd6438 0%, #d83920 100%));

}

/* footer section */
footer {
    padding: 50px 10px 50px;
    overflow: hidden;
}

footer .footer-logo {
    color: #181E4B;
    font-size: 44px;
    line-height: 52px;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .footer-desc {
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    color: var(--para-col);
    max-width: 80%;
}

footer .footer-head {
    color: #080809;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

footer .footer-links {
    color: var(--para-col);
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}

.ftr-sm-icon {
    display: flex;
}

.ftr-sm-icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin-right: 20px;
    color: #000;
}

.ftr-sm-icon a i {
    font-size: 18px;
}

.ftr-sm-icon a:hover i {
    color: var(--orange-col);
}

footer .discover-app {
    color: var(--para-col);
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: 0.1px;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer .copyright {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--para-col);
    margin-top: 50px;
}


/* testimonial-section */
.testimonial-section {
    padding: 0px 10px;
}

.testimonial-section .jadoo-sm-head {
    text-align: left;
}

.testimonial-section .jadoo-lg-head {
    text-align: left;
}

.swiper {
    height: 400px;
}


.swiper {
    width: 100%;
}

.swiper-slide {
    padding: 10px 40px 0px 20px;
}

.testimonial-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    height: 260px;
}

.testimonial-img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
}

.testimonial-box p {
    font-size: 16px;
    color: var(--para-col);
}

.testimonial-box .author-section h6 {
    font-size: 18px;
    line-height: 26px;
    color: var(--para-col);
    font-weight: 600;
}

.testimonial-box .author-section p {
    font-size: 14px;
}

.swiper-pagination {
    left: -30% !important;

}

.swiper-arrows .swiper-button-next {
    position: absolute;
    right: 0px;
    rotate: 360deg;
    color: var(--para-col);
    padding-bottom: 50px;
}

.swiper-arrows .swiper-button-prev {
    position: absolute;
    right: 0px;
    left: unset;
}

.swiper-button-prev:after {
    content: '';
    background-image: url('../images/testimonial/bottom-arrow.png');
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.swiper-button-next:after {
    content: '';
    background-image: url('../images/testimonial/top-arrow.png');
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}


/* loader */

.loader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 1;
    background: #fff;
    z-index: 9999;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-anime {
    width: 48px;
    height: 48px;
    border: 5px solid #ccc8c8;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* media query tab */
@media only screen and (max-width:999px) {
    .jadoo-navbar .nav-item .nav-link {
        display: inline-block;
    }

    .hero-section {
        height: auto;
        background-position: top right;
    }

    .hero-section .hero-content-section {
        padding: 10px;
    }

    .hero-content-section .sm-desc {
        max-width: 80%;
    }

    .destination-section .destination-card {
        height: 360px;
    }

    .newsletter-section .newsletter-box h4 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .newsletter-section .newsletter-box {
        padding: 60px;
    }

    .newsletter-box .left-circle {
        display: none;
    }

    .newsletter-box .right-circle {
        display: none;
    }

    .newsletter-shape {
        display: none;
    }
}

/* media query mobile */
@media only screen and (max-width:767px) {

    .hero-section {
        height: auto;
        background-position: top;
        background-size: contain;
    }

    .hero-content-section .lg-head {
        font-size: 44px;
        line-height: 54px;
    }

    .hero-content-section .lg-head .enjoy::before {
        top: 50px;
        width: 200px;
    }

    .hero-content-section .sm-desc {
        max-width: 80%;
    }

    .destination-section .destination-card {
        height: 360px;
    }

    .service-bg-shape {
        display: none;
    }

    .jadoo-lg-head {
        font-size: 36px;
        line-height: 44px;
    }

    .service-section .service-card {
        margin-bottom: 25px;
    }

    .destination-section .destination-card {
        margin-bottom: 20px;
    }

    .steps-left {
        padding: 0px;
    }

    .ongoing-trip {
        bottom: -100px;
        right: 10px;
    }

    .steps-section {
        padding-bottom: 140px;
    }

    .bg-blue {
        top: -70px;
    }

    .service-section {
        padding: 50px 10px;
    }

    .service-cards-box {
        margin-top: 10px;
    }

    .destination-section .destination-card-box {
        margin-top: 30px;
    }

    .destination-section {
        padding: 0 10px 50px;
    }

    .newsletter-section {
        padding: 50px 10px;
    }

    .newsletter-section .newsletter-box {
        padding: 30px 10px;
        border-radius: 50px 10px 10px 10px;
    }

    .newsletter-section .newsletter-box h4 {
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .newsletter-box .share-icon {
        top: -35px;
        right: -10px;
        width: 50px;
    }

    .subcribe-box {
        flex-direction: column;
    }

    .subcribe-box .input-box {
        display: flex;
        margin: 20px;
    }

    .testimonial-section {
        padding: 50px 10px;
    }

    .swiper-slide {
        padding: 10px 20px 0px 10px;
    }

    .testimonial-section .jadoo-lg-head {
        margin-bottom: 30px;
    }
    .newsletter-box{
        padding: 10px;
    }

}